*{
	margin: 0;
}
iframe{
	position:absolute;
	border: 0;
	top: 29vw;
	left: 16vw;
	display:  block;
	width:67vw;
	height:117vw;
	z-index: 100;
}
.c_start{
	display: block;
}
.c_intro{
	display: none;
}
.c_scan{
	display: none;
}
.c_detail{
	display: none;
}
#background{
	width: 100%;
	height: auto;
}
#btn_info{
	position:absolute;
	width: 50%;
	height: auto;
	left: 25%;
	top: 74%;
}
#btn_start{
	position:absolute;
	width: 50%;
	height: auto;
	left: 25%;
	top: 81.5%;
}
#reader{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}
#scanContent{
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 0;
	pointer-events: none;
}
#btn_form{
	position:absolute;
	width: 50%;
	height: auto;
	left: 25%;
	bottom: 5%;
	display: none;
}
#btn_panel{
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}
#btn_detailx{
	position: absolute;
	width: 12%;
	height: auto;
	top: 19vw;
	right: 13vw;
}