@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: auto;
    color: #3c763b;
}
html {
overflow-x: hidden;
overflow-y: hidden;
}
body {
    width: 100%;
    height: 100%;
    background-color: #f9f1b3;
    margin: 2rem auto;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}
.background{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}
#bg1{
    display: block;
}
#bg2{
    display: none;
}
#bg3{
    display: none;
}
#bottom1{
    display: block;
}
#bottom2{
    display: none;
}
.backgroundImg{
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
}
.backgroundImgBottom{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
}
.cloud1{
    position: fixed;
    top: -4vh;
    transform: translateX(-30vh);
    width: 38%;
    height: auto;
    animation: flow 15s linear forwards;
}
@keyframes flow{
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(105vh)
    }
}
@-webkit-keyframes flow{
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(105vh)
    }
}
#canvas_start{
    display: block;
}
#canvas_instruct{
    display: none;
}
#canvas_play{
    display: none;
}
#canvas_result{
    display: none;
}
#logo{
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    animation: titleMove 3s ease-in-out infinite;
}
#btn_start{
    position: relative;
    width: 40%;
    height: auto;
    bottom: 20px;
    margin: auto;
    margin-top: 10vw;
    margin-left: 30%;
}
#btn_instruct{
    position: relative;
    width: 40%;
    height: auto;
    bottom: 20px;
    margin: auto;
    margin-left: 30%;
}
#instructBox{
    position: inherit; 
    width: fit-content; 
    height: fit-content;
}
#content_instruct{
    position: absolute;
    width: 100%;
    height: auto;
    margin-top:  42vw;
    left: 0vw;
}
#img_instructX{
    position: absolute;
    width: 6%;
    height: auto;
    top: 0;
    left: 0;
    margin-top: 46vw;
    margin-left: 16.5vw;
}
#rain{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
}
#timer{
    position: absolute;
    font-size: 14vw;
    color: red;
    left: 45vw;
}
#character{
    position: absolute;
    width: 61%;
    height: auto;
    margin-top: 74vw;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
#hpBox{
    position: absolute;
    width: 100%;
    height: auto;
    top: 12vw;
    left: 7vw;
}
.hp{
    position: relative;
    width: 7%;
    height: auto;
    padding-left: 1vw;
}
#barBG{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
}
#barScale{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
}
#barWater{
    position: absolute;
    width: 12vw;
    height: 7.8vw;
    bottom: 9.9vw;
    left: 21vw;
    background-color: #42baec;
    opacity: 1;
}
#barFull{
    position: absolute;
    display: none;
    width: 100%;
    height: auto;
    bottom: 0;
    opacity: 1;
}
#scroeBox{
    position: absolute;
    width: 100%;
    height:  164px;
    bottom: 23vw;
    pointer-events: none; 
}
#scroeBox img{
    position: absolute;
    width: auto;
    height: 40%;
    margin-left: 10vw;
    bottom: 0px;
}
.scoreBoxAnimate{
    animation: scoreUp 0.5s linear forwards;
}
@keyframes scoreUp{
    to{
        transform: translateY(-43px);
        opacity: 0;
    }
}

#label_score{
    position: absolute;
    font-size: 21vw;
    color: #0e6eb8;
    font-weight: bold;
    margin-top: 57vw;
    margin-left: 40vw; /*45*/
    text-align: center;
    justify-content: center;
}
.rain{
    position: fixed;
    top: -1vh;
    transform: translateY(0);
    width: 5%;
    height: auto;
    animation: fall 3s linear forwards;
}

@keyframes fall{
    to{
        transform: translateY(105vh)
    }
}
#sun{
    position: absolute;
    top: 6vw;
    right: 15vw;
    width: 28%;
}
#content_scoreCard{
    position: absolute;
    width: 100%;
    height: auto;
    margin-top:  42vw;
    left: 0vw;
}
#img_rainScore{
    position: absolute;
    width: 31%;
    height: auto;
    margin-top:  85vw;
    left: 34vw;
}

//water timer
.waterTimer{
    width: 200px;
    height: 200px;
    border: 10px solid #0e6eb8;
    border-radius: 120px;
    line-height: 200px;
    text-align: center;
    color: #ddd;
    font-size: 88px;
    text-transform: uppercase;
    position: absolute;
    overflow: hidden;
}
.filling{
    width: 15vw;
    height: 15vw;
    position: absolute;
    border: 3px solid #ccc;
    border-radius: 10vw;
    line-height: 200px;
    text-align: center;
    color: red;
    font-size: 88px;
    text-transform: uppercase;
    position: absolute;
    overflow: hidden;
    left: 42vw;
    top:  4vw;
}
.filling:before{
    content: "";
    position: absolute;
    width: 30vw;
    height: 30vw;
    background: #77cbef;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40%;
    /*animation: fill 45s ease-in-out infinite;*/
    /*z-index: -1;*/

}
.filling-word{
    width: 15vw;
    height: 15vw;
    position: absolute;
    border: 3px solid #0e6eb8;
    border-radius: 10vw;
    line-height: 14vw;
    text-align: center;
    color: red;
    font-size: 9vw;
    text-transform: uppercase;
    position: absolute;
    overflow: hidden;
    left: 42vw;
    top:  4vw;
}
@keyframes fill{
    from{
        top: -10px;
        transform: translateX(-50%) rotate(0deg);
    }
    to{
        top: 80px;
        transform: translateX(-50%) rotate(1720deg);
    }
}
@keyframes titleMove{
    0%, 100%{
        top: 0;
    }
    50%{
        top: 2vw;
    }
}
#btn_fb{
    position: absolute;
    width: 13%;
    height: auto;
    margin-top:  139vw;
    left: 20vw;
}
#btn_web{
    position: absolute;
    width: 13%;
    height: auto;
    margin: auto;
    margin-top:  139vw;
    right: 43vw;
}
#btn_restart{
    position: absolute;
    width: 13%;
    height: auto;
    margin-top:  139vw;
    right: 20vw;
}